<restaurant-form (add)="addRestaurant($event)"></restaurant-form>
<div class="row">
    <label class="col-form-label col-sm-2 text-sm-end" for="filterDesc">
      Filter:
    </label>
    <div class="col-sm-5">
      <input
        type="text"
        [(ngModel)]="search"
        class="form-control"
        id="filterDesc"
        placeholder="Filter..."
      />
    </div>
    <div class="col-form-label col-sm-5">Filtered by: {{ search() }}</div>
</div>
<div id="placesContainer" class="mb-4 mt-4 row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
    @for (restaurant of restaurants; track $index; let i = $index){
        
    }
</div>