<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/restaurants']">{{ title }}</a>
    @if(isLogged()) {
    <ul class="navbar-nav me-auto mb-lg-0">
      <li class="nav-item">
        <a
          class="nav-link active"
          [routerLink]="['/restaurants']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Principal
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/restaurants', 'add']"
          [routerLinkActive]="['active']"
        >
          Crear restaurante
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/profile/me']"
          [routerLinkActive]="['active']"
        >
          Mi Perfil
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" id="logout" (click)="logout()">Salir</a>
      </li>
    </ul>
    } @else {
    <ul class="navbar-nav me-auto mb-lg-0">
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          id="login"
          [routerLink]="['/auth', 'login']"
        >
          Log In
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          id="login"
          [routerLink]="['/auth', 'register']"
        >
          Register
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" id="logout" (click)="logout()">Salir</a>
      </li>
    </ul>
    }
  </div>
</nav>